.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px); /* Adjust for the height of the navbar */
  margin-top: 60px; /* Adjust to match the height of the navbar */
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 95vw;
  height: calc(100vh - 60px); /* Adjust for the height of the navbar */
  margin-top: 60px; /* Adjust to match the height of the navbar */
}

.grid-item {
  overflow: hidden;
}

.content {
  margin-top: 20px;
  text-align: center;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.6s ease;
}

.carousel-item {
  flex: 0 0 auto;
  /* width: 100%; */
  display: none;
}

.carousel-item.active {
  display: block;
}

img {
  width: 50vw;
  height: 80vh;
  object-fit: cover;
}
