.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px); /* Adjust for the height of the navbar */
  margin-top: 60px; /* Adjust to match the height of the navbar */
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: calc(90vh - 60px); /* Adjust for the height of the navbar */
  /* margin-top: 10vh; Adjust to match the height of the navbar */
}

.corosal-grid-item {
  overflow: hidden;
}

.content {
  text-align: center;
}

.carousel {
  position: relative;
  width: 48vw;
  height: 80vh;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.6s ease;
}

.carousel-item {
  flex: 0 0 auto;
  /* width: 100%; */
  display: none;
}

.carousel-item.active {
  display: block;
}

.corosal-image {
  width: 50vw;
  height: 80vh;
  object-fit: cover;
}
